In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
#Reading the files
AverageRents_df= pd.read_csv("Resources/AverageRents_Concat.csv")
# Number_of_Units_Concat_df = pd.read_csv("Resources/Number_of_Units_Concat.csv")
VacancyRate_df = pd.read_csv("Resources/VacancyRate_Concat.csv")
AverageRents_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,2022
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,2022
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [3]:
AverageRents_df.describe()

,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
count,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000,8950.000000
mean,221.991508,440.151173,592.784804,453.192737,618.757654,2020.000000
std,397.990392,548.527300,677.074929,722.635102,632.295078,1.414293
min,0.000000,0.000000,0.000000,0.000000,0.000000,2018.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,2019.000000
50%,0.000000,0.000000,0.000000,0.000000,713.000000,2020.000000
75%,477.000000,958.000000,1179.750000,1041.000000,1171.000000,2021.000000
max,1984.000000,2365.000000,3578.000000,5212.000000,3118.000000,2022.000000

In [12]:
#summary statistical Using groupby to calculate each Province: 
# mean, median, variance, standard deviation, SEM as well as the min and max of 1 bedroom. 
Rent_mean = AverageRents_df.groupby('Province').mean()['1 Bedroom']
Rent_median = AverageRents_df.groupby('Province').median()['1 Bedroom']
Rent_variance = AverageRents_df.groupby('Province').var()['1 Bedroom']
Rent_std = AverageRents_df.groupby('Province').std()['1 Bedroom']
Rent_sem = AverageRents_df.groupby('Province').sem()['1 Bedroom']
# Rent_min = AverageRents_df.groupby('Province').min()['1 Bedroom']
# Rent_max = AverageRents_df.groupby('Province').max()['1 Bedroom']
statistics_summary__table1bedroom = pd.DataFrame({"Mean 1 Bedroom": Rent_mean,"Median 1 Bedroom":Rent_median, 
                                    "1 Bedroom Var":Rent_variance, "1 Bedroom Std.Dev.": Rent_std, 
                                    "1 Bedroom Std. Err.": Rent_sem, "1 Bedroom min.": Rent_min, "1 Bedroom max.": Rent_max})

statistics_summary__table1bedroom

,Mean 1 Bedroom,Median 1 Bedroom,1 Bedroom Var,1 Bedroom Std.Dev.,1 Bedroom Std. Err.,1 Bedroom min.,1 Bedroom max.
Province,,,,,,,
Alta,457.580488,0.0,269578.554542,519.209548,14.804376,0.0,1418.0
B.C.,603.964762,0.0,451556.442036,671.979495,20.737737,0.0,2231.0
Man.,465.375862,0.0,238867.536440,488.740766,28.699846,0.0,1375.0
N.B.,283.434615,0.0,140670.570998,375.060756,23.260281,0.0,1109.0
N.S.,414.469231,0.0,254847.400594,504.824128,31.307863,0.0,1542.0
Nfld.Lab.,511.333333,757.0,159272.781609,399.089942,72.863521,0.0,952.0
Ont.,485.011816,0.0,361183.730907,600.985633,10.202330,0.0,2365.0
Que,278.553769,0.0,139054.180868,372.899693,8.359215,0.0,1561.0
Sask.,468.375676,0.0,236574.153878,486.388892,25.286154,0.0,1425.0

In [13]:
#summary statistical Using groupby  to calculate each Province: 
# mean, median, variance, standard deviation, and SEM of the 2 bedroom. 
Rent_mean = AverageRents_df.groupby('Province').mean()['2 Bedroom']
Rent_median = AverageRents_df.groupby('Province').median()['2 Bedroom']
Rent_variance = AverageRents_df.groupby('Province').var()['2 Bedroom']
Rent_std = AverageRents_df.groupby('Province').std()['2 Bedroom']
Rent_sem = AverageRents_df.groupby('Province').sem()['2 Bedroom']

statistics_summary__table2bedroom = pd.DataFrame({"Mean 2 Bedroom": Rent_mean,"Median 2 Bedroom":Rent_median, 
                                    "2 Bedroom Var":Rent_variance, "2 Bedroom Std.Dev.": Rent_std, 
                                    "2 Bedroom Std. Err.": Rent_sem})

statistics_summary__table2bedroom

,Mean 2 Bedroom,Median 2 Bedroom,2 Bedroom Var,2 Bedroom Std.Dev.,2 Bedroom Std. Err.
Province,,,,,
Alta,661.913008,975.5,371152.582337,609.222933,17.370955
B.C.,813.176190,0.0,815652.515162,903.134827,27.871346
Man.,637.955172,823.0,374329.094869,611.824399,35.927566
N.B.,362.980769,0.0,211685.756386,460.093204,28.533769
N.S.,601.350000,0.0,447802.236100,669.180272,41.500799
Nfld.Lab.,810.500000,891.5,86717.500000,294.478352,53.764145
Ont.,632.584150,0.0,525378.620619,724.830063,12.304712
Que,390.727638,0.0,204827.109291,452.578291,10.145353
Sask.,553.440541,0.0,323382.247132,568.667079,29.563594

In [8]:
#summary statistical Using groupby  to calculate each Province: 
# mean, median, variance, standard deviation, and SEM of the 1 bedroom.3 +
Rent_mean = AverageRents_df.groupby('Province').mean()['3 Bedroom +']
Rent_median = AverageRents_df.groupby('Province').median()['3 Bedroom +']
Rent_variance = AverageRents_df.groupby('Province').var()['3 Bedroom +']
Rent_std = AverageRents_df.groupby('Province').std()['3 Bedroom +']
Rent_sem = AverageRents_df.groupby('Province').sem()['3 Bedroom +']

statistics_summary__table3bedroom = pd.DataFrame({"Mean 3 Bedroom +": Rent_mean,"Median 3 Bedroom +":Rent_median, 
                                    "3 Bedroom + Var":Rent_variance, "3 Bedroom + Std.Dev.": Rent_std, 
                                    "3 Bedroom + Std. Err.": Rent_sem})

statistics_summary__table3bedroom

,Mean 3 Bedroom +,Median 3 Bedroom +,3 Bedroom + Var,3 Bedroom + Std.Dev.,3 Bedroom + Std. Err.
Province,,,,,
Alta,483.037398,0.0,4.398653e+05,663.223427,18.910687
B.C.,541.432381,0.0,1.016868e+06,1008.398909,31.119866
Man.,659.827586,0.0,5.834873e+05,763.863412,44.855604
N.B.,238.638462,0.0,1.834794e+05,428.344925,26.564825
N.S.,579.307692,0.0,6.045246e+05,777.511791,48.219234
Nfld.Lab.,456.300000,338.5,2.240813e+05,473.372286,86.425560
Ont.,457.881268,0.0,5.707105e+05,755.453859,12.824582
Que,374.575879,0.0,2.589096e+05,508.831573,11.406372
Sask.,382.367568,0.0,3.791790e+05,615.775132,32.012625

In [14]:

# Using the aggregation method, to produce the summary statistics in a single line for all bedrooms.
aggregation_totalbedrooms= AverageRents_df.groupby(['Province'])[['1 Bedroom', '2 Bedroom', '3 Bedroom +']].agg(['mean', 'median', 'var', 'std', 'sem', 'min', 'max'])
aggregation_totalbedrooms

            1 Bedroom                                                    \
                 mean median            var         std        sem  min
Province
Alta       457.580488    0.0  269578.554542  519.209548  14.804376  0.0
B.C.       603.964762    0.0  451556.442036  671.979495  20.737737  0.0
Man.       465.375862    0.0  238867.536440  488.740766  28.699846  0.0
N.B.       283.434615    0.0  140670.570998  375.060756  23.260281  0.0
N.S.       414.469231    0.0  254847.400594  504.824128  31.307863  0.0
Nfld.Lab.  511.333333  757.0  159272.781609  399.089942  72.863521  0.0
Ont.       485.011816    0.0  361183.730907  600.985633  10.202330  0.0
Que        278.553769    0.0  139054.180868  372.899693   8.359215  0.0
Sask.      468.375676    0.0  236574.153878  486.388892  25.286154  0.0

                    2 Bedroom                        ...                  \
              max        mean median            var  ...        sem  min
Province                                             ...
Alta       1418.0  661.913008  975.5  371152.582337  ...  17.370955  0.0
B.C.       2231.0  813.176190    0.0  815652.515162  ...  27.871346  0.0
Man.       1375.0  637.955172  823.0  374329.094869  ...  35.927566  0.0
N.B.       1109.0  362.980769    0.0  211685.756386  ...  28.533769  0.0
N.S.       1542.0  601.350000    0.0  447802.236100  ...  41.500799  0.0
Nfld.Lab.   952.0  810.500000  891.5   86717.500000  ...  53.764145  0.0
Ont.       2365.0  632.584150    0.0  525378.620619  ...  12.304712  0.0
Que        1561.0  390.727638    0.0  204827.109291  ...  10.145353  0.0
Sask.      1425.0  553.440541    0.0  323382.247132  ...  29.563594  0.0

                  3 Bedroom +                                               \
              max        mean median           var          std        sem
Province
Alta       1800.0  483.037398    0.0  4.398653e+05   663.223427  18.910687
B.C.       3347.0  541.432381    0.0  1.016868e+06  1008.398909  31.119866
Man.       1821.0  659.827586    0.0  5.834873e+05   763.863412  44.855604
N.B.       1390.0  238.638462    0.0  1.834794e+05   428.344925  26.564825
N.S.       2188.0  579.307692    0.0  6.045246e+05   777.511791  48.219234
Nfld.Lab.  1131.0  456.300000  338.5  2.240813e+05   473.372286  86.425560
Ont.       3578.0  457.881268    0.0  5.707105e+05   755.453859  12.824582
Que        1927.0  374.575879    0.0  2.589096e+05   508.831573  11.406372
Sask.      1595.0  382.367568    0.0  3.791790e+05   615.775132  32.012625


           min     max
Province
Alta       0.0  2987.0
B.C.       0.0  5041.0
Man.       0.0  2343.0
N.B.       0.0  1463.0
N.S.       0.0  2437.0
Nfld.Lab.  0.0  1056.0
Ont.       0.0  5212.0
Que        0.0  2514.0
Sask.      0.0  2096.0

[9 rows x 21 columns]