In [235]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

In [236]:
rental_data_to_load = "urban-rental-markets-2021.xlsx"

In [237]:
# Read Rental Data File and store into Pandas DataFrames
rental_data = pd.read_excel(rental_data_to_load, skiprows=4, skipfooter=5)

In [238]:
rental_data.head()

,Province,Centre,Census Subdivision \n Subdivision de recensement,Dwelling Type \n Type de logement,Bachelor \n Studios,Unnamed: 5,1 Bedroom \n 1 chambre,Unnamed: 7,2 Bedroom \n 2 chambres,Unnamed: 9,3 Bedroom + \n 3 chambres +,Unnamed: 11,Total \n Tous les log.,Unnamed: 13
0,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Row / En bande,--,NaN,**,NaN,$900,d,--,NaN,$894,d
1,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Apt & Other / App. &\nautres,--,NaN,**,NaN,$993,d,**,NaN,$801,b
2,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Total,--,NaN,**,NaN,$933,c,**,NaN,$837,b
3,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Row / En bande,--,NaN,--,NaN,--,NaN,--,NaN,--,NaN
4,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other / App. &\nautres,--,NaN,**,NaN,**,NaN,--,NaN,**,NaN

In [239]:
#Delete empty columns using theie index
del_rental_data = rental_data.drop(rental_data.columns[[5,7,9,11,13]], axis = 1)

In [240]:
del_rental_data.head()

,Province,Centre,Census Subdivision \n Subdivision de recensement,Dwelling Type \n Type de logement,Bachelor \n Studios,1 Bedroom \n 1 chambre,2 Bedroom \n 2 chambres,3 Bedroom + \n 3 chambres +,Total \n Tous les log.
0,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Row / En bande,--,**,$900,--,$894
1,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Apt & Other / App. &\nautres,--,**,$993,**,$801
2,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Total,--,**,$933,**,$837
3,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Row / En bande,--,--,--,--,--
4,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other / App. &\nautres,--,**,**,--,**

In [241]:
del_rental_data.dtypes

Province                                            object
Centre                                              object
Census Subdivision \n Subdivision de recensement    object
Dwelling Type \n Type de logement                   object
Bachelor \n Studios                                 object
1 Bedroom \n 1 chambre                              object
2 Bedroom \n 2 chambres                             object
3 Bedroom + \n 3 chambres +                         object
Total \n Tous les log.                              object
dtype: object

In [242]:
#Rename column labels
rename_rental_data = del_rental_data.rename(
    {"Census Subdivision \n Subdivision de recensement" : "Census Subdivision",
     "Dwelling Type \n Type de logement": "Dwelling Type",
     "Bachelor \n Studios" : "Bachelor",
     "1 Bedroom \n 1 chambre" : "1 Bedroom",
    "2 Bedroom \n 2 chambres" : "2 Bedroom",
    "3 Bedroom + \n 3 chambres +" : "3 Bedroom +",
    "Total \n Tous les log." : "Total"}, axis=1)

In [243]:
rename_rental_data

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Row / En bande,--,**,$900,--,$894
1,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Apt & Other / App. &\nautres,--,**,$993,**,$801
2,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Total,--,**,$933,**,$837
3,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Row / En bande,--,--,--,--,--
4,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other / App. &\nautres,--,**,**,--,**
...,...,...,...,...,...,...,...,...,...
3361,"Canada\n(10,000+)",Total,Total,Apt & Other / App. &\nautres,$887,$1071,$1166,$1261,$1123
3362,"Canada\n(10,000+)",Total,Total,Total,$887,$1070,$1169,$1309,$1133
3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3364,© 2022 Canada Mortgage and Housing Corporation...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3365,Source: CMHC (Rental Market Survey) / Source: ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
rename_rental_data.dtypes

Province              object
Centre                object
Census Subdivision    object
Dwelling Type         object
Bachelor              object
1 Bedroom             object
2 Bedroom             object
3 Bedroom +           object
Total                 object
dtype: object

In [245]:
#remove rows with NaN

del_rental_unit_data = rename_rental_data.dropna()

In [246]:
del_rental_unit_data

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Row / En bande,--,**,$900,--,$894
1,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Apt & Other / App. &\nautres,--,**,$993,**,$801
2,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Total,--,**,$933,**,$837
3,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Row / En bande,--,--,--,--,--
4,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other / App. &\nautres,--,**,**,--,**
...,...,...,...,...,...,...,...,...,...
3358,B.C./C.-B.,Total,Total,Apt & Other / App. &\nautres,$1192,$1322,$1565,$1923,$1402
3359,B.C./C.-B.,Total,Total,Total,$1189,$1320,$1558,$1795,$1405
3360,"Canada\n(10,000+)",Total,Total,Row / En bande,$943,$966,$1254,$1523,$1399
3361,"Canada\n(10,000+)",Total,Total,Apt & Other / App. &\nautres,$887,$1071,$1166,$1261,$1123
3362,"Canada\n(10,000+)",Total,Total,Total,$887,$1070,$1169,$1309,$1133

In [247]:
#Replace -- & ** with zero
del_rental_unit_data = del_rental_unit_data.replace({"--":"0","**":"0"})
del_rental_unit_data.head()

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Row / En bande,0,0,$900,0,$894
1,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Apt & Other / App. &\nautres,0,0,$993,0,$801
2,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Total,0,0,$933,0,$837
3,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Row / En bande,0,0,0,0,0
4,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other / App. &\nautres,0,0,0,0,0

In [248]:
# Remove '$' from rental unit  & total columns before  data type conversion
del_rental_unit_data["Bachelor"] = del_rental_unit_data["Bachelor"].str.replace("$", "",regex=True)
del_rental_unit_data["1 Bedroom"] = del_rental_unit_data["1 Bedroom"].str.replace("$", "",regex=True)
del_rental_unit_data["2 Bedroom"] = del_rental_unit_data["2 Bedroom"].str.replace("$", "",regex=True)
del_rental_unit_data["3 Bedroom +"] = del_rental_unit_data["3 Bedroom +"].str.replace("$", "",regex=True)
del_rental_unit_data["Total"] = del_rental_unit_data["Total"].str.replace("$", "",regex=True)

In [249]:
del_rental_unit_data.head(20)

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Row / En bande,0,0,900,0,894
1,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Apt & Other / App. &\nautres,0,0,993,0,801
2,Nfld.Lab./T.-N.-L.,St. John's,Conception Bay South (T),Total,0,0,933,0,837
3,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Row / En bande,0,0,0,0,0
4,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other / App. &\nautres,0,0,0,0,0
5,Nfld.Lab./T.-N.-L.,St. John's,Portugal Cove-St. Philip's (T),Total,0,0,0,0,0
6,Nfld.Lab./T.-N.-L.,St. John's,Pouch Cove (T),Row / En bande,0,0,0,0,0
7,Nfld.Lab./T.-N.-L.,St. John's,Pouch Cove (T),Apt & Other / App. &\nautres,0,0,0,0,0
8,Nfld.Lab./T.-N.-L.,St. John's,Pouch Cove (T),Total,0,0,0,0,0
9,Nfld.Lab./T.-N.-L.,St. John's,Flatrock (T),Row / En bande,0,0,0,0,0
10,Nfld.Lab./T.-N.-L.,St. John's,Flatrock (T),Apt & Other / App. &\nautres,0,0,0,0,0
11,Nfld.Lab./T.-N.-L.,St. John's,Flatrock (T),Total,0,0,0,0,0
12,Nfld.Lab./T.-N.-L.,St. John's,Torbay (T),Row / En bande,0,0,0,0,0
13,Nfld.Lab./T.-N.-L.,St. John's,Torbay (T),Apt & Other / App. &\nautres,0,0,825,0,825
14,Nfld.Lab./T.-N.-L.,St. John's,Torbay (T),Total,0,0,825,0,825
15,Nfld.Lab./T.-N.-L.,St. John's,Logy Bay-Middle Cove-Outer Cove (T),Row / En bande,0,0,0,0,0
16,Nfld.Lab./T.-N.-L.,St. John's,Logy Bay-Middle Cove-Outer Cove (T),Apt & Other / App. &\nautres,0,0,0,0,0
17,Nfld.Lab./T.-N.-L.,St. John's,Logy Bay-Middle Cove-Outer Cove (T),Total,0,0,0,0,0
18,Nfld.Lab./T.-N.-L.,St. John's,Bauline (T),Row / En bande,0,0,0,0,0
19,Nfld.Lab./T.-N.-L.,St. John's,Bauline (T),Apt & Other / App. &\nautres,0,0,0,0,0

In [250]:
#Convert rental unit  & total column data type from str to int
del_rental_unit_data[["Bachelor","1 Bedroom","2 Bedroom","3 Bedroom +","Total"]] = del_rental_unit_data[["Bachelor","1 Bedroom","2 Bedroom","3 Bedroom +","Total"]].apply(pd.to_numeric)

In [251]:
del_rental_unit_data.dtypes

Province              object
Centre                object
Census Subdivision    object
Dwelling Type         object
Bachelor               int64
1 Bedroom              int64
2 Bedroom              int64
3 Bedroom +            int64
Total                  int64
dtype: object

In [252]:
#remove French from values in Province & Dwellimg Type columns

del_rental_unit_data["Province"] = del_rental_unit_data["Province"].str.split('/').str[0]
del_rental_unit_data["Dwelling Type"] = del_rental_unit_data["Dwelling Type"].str.split('/').str[0]

In [253]:
del_rental_unit_data

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,Conception Bay South (T),Row,0,0,900,0,894
1,Nfld.Lab.,St. John's,Conception Bay South (T),Apt & Other,0,0,993,0,801
2,Nfld.Lab.,St. John's,Conception Bay South (T),Total,0,0,933,0,837
3,Nfld.Lab.,St. John's,Portugal Cove-St. Philip's (T),Row,0,0,0,0,0
4,Nfld.Lab.,St. John's,Portugal Cove-St. Philip's (T),Apt & Other,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3358,B.C.,Total,Total,Apt & Other,1192,1322,1565,1923,1402
3359,B.C.,Total,Total,Total,1189,1320,1558,1795,1405
3360,"Canada\n(10,000+)",Total,Total,Row,943,966,1254,1523,1399
3361,"Canada\n(10,000+)",Total,Total,Apt & Other,887,1071,1166,1261,1123
3362,"Canada\n(10,000+)",Total,Total,Total,887,1070,1169,1309,1133

In [254]:
#remove rows with all zero values, i,e, Total column is zero
del2_rental_unit_data = del_rental_unit_data[del_rental_unit_data["Total"] > 0]

In [255]:
del2_rental_unit_data

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,Conception Bay South (T),Row,0,0,900,0,894
1,Nfld.Lab.,St. John's,Conception Bay South (T),Apt & Other,0,0,993,0,801
2,Nfld.Lab.,St. John's,Conception Bay South (T),Total,0,0,933,0,837
13,Nfld.Lab.,St. John's,Torbay (T),Apt & Other,0,0,825,0,825
14,Nfld.Lab.,St. John's,Torbay (T),Total,0,0,825,0,825
...,...,...,...,...,...,...,...,...,...
3358,B.C.,Total,Total,Apt & Other,1192,1322,1565,1923,1402
3359,B.C.,Total,Total,Total,1189,1320,1558,1795,1405
3360,"Canada\n(10,000+)",Total,Total,Row,943,966,1254,1523,1399
3361,"Canada\n(10,000+)",Total,Total,Apt & Other,887,1071,1166,1261,1123
3362,"Canada\n(10,000+)",Total,Total,Total,887,1070,1169,1309,1133

In [256]:
#Remove rows with reporting totals for Centre and Subdivision or Dwelling Type
del3_rental_unit_data = del2_rental_unit_data[(del2_rental_unit_data["Dwelling Type"] != "Total")] 
del3_rental_unit_data = del3_rental_unit_data[(del3_rental_unit_data["Census Subdivision"] != "Total")]

In [257]:
del3_rental_unit_data

,Province,Centre,Census Subdivision,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total
0,Nfld.Lab.,St. John's,Conception Bay South (T),Row,0,0,900,0,894
1,Nfld.Lab.,St. John's,Conception Bay South (T),Apt & Other,0,0,993,0,801
13,Nfld.Lab.,St. John's,Torbay (T),Apt & Other,0,0,825,0,825
24,Nfld.Lab.,St. John's,St. John's (CY),Row,0,609,818,0,827
25,Nfld.Lab.,St. John's,St. John's (CY),Apt & Other,742,886,1034,993,963
...,...,...,...,...,...,...,...,...,...
3331,B.C.,Squamish,Squamish (DM),Apt & Other,998,1335,1721,2380,1619
3336,B.C.,Terrace,Terrace (CY),Row,0,0,1022,0,1190
3337,B.C.,Terrace,Terrace (CY),Apt & Other,0,911,985,0,966
3345,B.C.,Williams Lake,Williams Lake (CY),Row,0,666,1026,1224,1140
3346,B.C.,Williams Lake,Williams Lake (CY),Apt & Other,730,743,954,1202,905

In [258]:
#Write DataFrame back to an excel file
del3_rental_unit_data.to_excel("urban-rental-markets-2021-Clean.xlsx", index=False)