In [67]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [68]:
#Reading the files
path_rental = "Resources/Average Rents_Concat.csv"
# path_Number_of_Units = pd.re("Resources/Number_of_Units_Concat.csv")
rental_df = pd.read_csv(path_rental)
rental_df

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
0,Nfld.Lab.,St. John's,St. John's East,St. John's East,Row,0.0,783.0,943.0,0.0,1166.0,2018
1,Nfld.Lab.,St. John's,St. John's East,St. John's East,Apt & Other,664.0,829.0,1049.0,1002.0,941.0,2018
2,Nfld.Lab.,St. John's,St. John's West,St. John's West,Row,0.0,0.0,743.0,0.0,576.0,2018
3,Nfld.Lab.,St. John's,St. John's West,St. John's West,Apt & Other,762.0,773.0,881.0,959.0,839.0,2018
4,Nfld.Lab.,St. John's,Remainder of CMA,Remainder of CMA,Row,0.0,0.0,0.0,0.0,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...
8945,B.C.,Victoria,Oak Bay,Oak Bay North,Apt & Other,1107.0,1226.0,1679.0,0.0,1405.0,2022
8946,B.C.,Victoria,North Saanich,North Saanich,Row,0.0,0.0,0.0,0.0,0.0,2022
8947,B.C.,Victoria,North Saanich,North Saanich,Apt & Other,0.0,0.0,0.0,0.0,0.0,2022
8948,B.C.,Victoria,Sidney,Sidney,Row,0.0,0.0,0.0,0.0,0.0,2022
8949,B.C.,Victoria,Sidney,Sidney,Apt & Other,0.0,1447.0,1753.0,3093.0,1635.0,2022

In [69]:
#drop zeroes from total
province_data = rental_df[(rental_df["Total "]!=0)]
province_stats = province_data.groupby(['Province'])[["Total "]].agg(['mean', 'var', 'std'])
province_stats.round(2)

            Total
              mean        var     std
Province
Alta       1164.59   28640.78  169.24
B.C.       1468.79  113574.81  337.01
Man.       1129.72   63147.05  251.29
N.B.        876.38   25602.29  160.01
N.S.       1221.69   77135.74  277.73
Nfld.Lab.   881.96   37105.81  192.63
Ont.       1302.24   84166.13  290.11
Que         850.72   35384.27  188.11
Sask.      1075.84   28819.23  169.76

In [70]:
stats = province_stats.to_excel("Statistcs summary.xlsx",
             sheet_name='Province')

In [71]:
#Create a funtion to extract based on the province and year 
def data_set(filepath,Province,Year,column):
    get_df = pd.read_csv(filepath)
    df = get_df.loc[(rental_df["Year"] == Year )& (get_df["Province"] == Province)]
    df_Province = df[(df[column]!=0)]
    return df_Province

In [72]:
#Check if the function works fine and get the Ont.province
Year = 2022
column = "1 Bedroom"
df_Ontario = data_set(path_rental, "Ont.",Year,column)
df_Ontario

,Province,Centre,Zone,Neighbourhood,Dwelling Type,Bachelor,1 Bedroom,2 Bedroom,3 Bedroom +,Total,Year
7669,Ont.,Barrie,Barrie,Downtown,Apt & Other,1067.0,1294.0,1571.0,1516.0,1412.0,2022
7673,Ont.,Barrie,Barrie,North Barrie,Apt & Other,0.0,1341.0,1516.0,0.0,1423.0,2022
7675,Ont.,Barrie,Barrie,East End,Apt & Other,0.0,1311.0,1464.0,0.0,1398.0,2022
7677,Ont.,Barrie,Barrie,South Barrie,Apt & Other,0.0,1625.0,1804.0,0.0,1746.0,2022
7683,Ont.,Belleville,City of Belleville,Belleville (Southwest),Apt & Other,979.0,1145.0,1340.0,1711.0,1285.0,2022
...,...,...,...,...,...,...,...,...,...,...,...
8347,Ont.,Windsor,East Outer,Fontainebleau,Apt & Other,1044.0,1151.0,1267.0,1426.0,1242.0,2022
8353,Ont.,Windsor,West,University,Apt & Other,742.0,955.0,1080.0,1077.0,984.0,2022
8355,Ont.,Windsor,West,Sandwich,Apt & Other,795.0,962.0,1103.0,0.0,1017.0,2022
8359,Ont.,Windsor,Amherstburg,Amherstburg,Apt & Other,0.0,1165.0,1348.0,0.0,1259.0,2022
8361,Ont.,Windsor,Remainder of CMA,Remainder of CMA,Apt & Other,0.0,1056.0,1190.0,0.0,1124.0,2022

In [73]:
#define Provinces name in the list
Province = ['Ont.']
Province

['Ont.']

In [74]:
# Using the aggregation method, to produce the summary statistics in a single line for all bedrooms in Ontario
Centre_df= df_Ontario.groupby(['Centre'])[["Total "]].agg(['mean', 'var', 'std'])
Centre_df.round(2)

                                 Total
                                   mean        var     std
Centre
Barrie                          1494.75   28160.92  167.81
Belleville                      1211.20   20334.20  142.60
Brantford                       1221.17    8282.97   91.01
Greater Sudbury / Grand Sudbur  1114.86   25268.48  158.96
Guelph                          1418.25    3996.25   63.22
Hamilton                        1340.50   56645.95  238.00
Kingston                        1387.13   54516.27  233.49
Kitchener - Cambridge - Waterl  1375.07   47635.50  218.26
London                          1252.77   65970.09  256.85
Oshawa                          1363.25    7588.92   87.11
Ottawa                          1488.23   40513.80  201.28
Peterborough                    1263.60    5708.80   75.56
St. Catharines - Niagara        1203.41   14265.26  119.44
Thunder Bay                     1119.33   12048.67  109.77
Toronto                         1627.31  109296.26  330.60
Windsor                         1092.67   11418.42  106.86

In [75]:
with pd.ExcelWriter("Statistcs summary.xlsx",
                    mode='a') as writer:  
    Centre_df.to_excel(writer, sheet_name='Ontario')

In [76]:
df_Toronto = df_Ontario[(df_Ontario["Centre"]=="Toronto")]
Zone_df= df_Toronto.groupby(['Zone'])[["Total "]].agg(['mean', 'var', 'std'])
Zone_df.round(2).dropna()

                           Total
                             mean        var     std
Zone
Aurora, Newmkt, Whit-St.  1379.33   34302.33  185.21
East York                 1447.57   11259.95  106.11
Etobicoke (Central)       1984.56  175753.78  419.23
Etobicoke (North)         1483.67   45666.33  213.70
Etobicoke (South)         1392.75   12980.92  113.93
Mississauga (Northeast)   1639.00    2178.00   46.67
Mississauga (Northwest)   1711.00    5408.00   73.54
Mississauga (South)       1481.67    7822.33   88.44
North York (N.Central)    1650.00   23284.50  152.59
North York (Northeast)    2070.40  346585.80  588.72
North York (Northwest)    1518.00   13448.00  115.97
North York (Southeast)    1656.20   25167.20  158.64
North York (Southwest)    1537.80   41257.70  203.12
Oakville                  1766.00     882.00   29.70
Pickering/Ajax/Uxbridge   1505.50    5100.50   71.42
Scarborough (Central)     1562.50   20578.28  143.45
Scarborough (East)        1519.50   10137.67  100.69
Scarborough (North)       1524.33    2058.33   45.37
Toronto (Central)         2015.62  126164.27  355.20
Toronto (East)            1465.20   19787.70  140.67
Toronto (North)           1819.00   20865.33  144.45
Toronto (West)            1557.25   37163.93  192.78
York                      1328.56  275732.53  525.10

In [77]:
with pd.ExcelWriter("Statistcs summary.xlsx",
                    mode='a') as writer:  
    Zone_df.to_excel(writer, sheet_name='Toronto')